<div class="uds-points-used">
    Информация о скидке
</div>

<div id="uds-send">
    <div id="uds-user-profile">
        <img class="uds-app-logo" src="/wa-apps/shop/plugins/uds/img/logo.svg">
        <div class="uds-user-data">
            <div class="uds-check-error" style="display:none;">Error!</div>
            <div class="uds-head-text">
                <p>Бонусы UDS. Получайте кешбэк. Оплачивайте баллами до 30% от стоимости покупки.</p>
            </div>
            <div id="uds-check-code">
                <select class="form-control select__uds_identifier_type" name="uds-type">
                    <option value="code" selected>
                        Код скидки
                    </option>
                    <option value="phone">
                        Телефон
                    </option>
                </select>
                <input class="form-control form__uds_check_code input__uds_check_code" style="margin-right: 5px;" type="text" placeholder="6-ти значный код UDS"
                       name="code" id="uds_code" value="">

                <button type="button" class="btn btn-uds btn-sm form__uds_check_code btn__uds_check_code">
                    Получить скидку
                </button>

                <input class="form-control form__uds_check_phone input__uds_check_phone" style="margin-right: 5px;" type="text" placeholder="+7 (999) 999-99-99"
                       name="phone" autocomplete="phone" id="uds_phone" value="">

                <button type="button" class="btn btn-uds btn-sm form__uds_check_phone btn__uds_check_phone">
                    Получить кэшбек
                </button>

                <button type="button" class="btn btn-danger btn-sm btn__uds_check_cancel">
                    Отменить
                </button>
                {*                <div id="uds-cancel-button" title="Отменить применение.">*}
                {*                    <p>&times;</p>*}
                {*                </div>*}

                <img src="/wa-apps/shop/plugins/uds/img/ajax-loader.gif" class="js-uds-loader-check">

            </div>

            <div class="text-center text__no_uds">
                <p>
                    <strong>У меня ещё нет бонусной карты. <a href="https://collagen-pmt.shop/programma-loyalnosti-uds/?utm_source=cart" target="_blank">ПОДКЛЮЧИТЬ.</a></strong>
                </p>
            </div>
            <div class="uds-warning"><span>&#9888;</span> Рекомендуем применять скидку и списывать бонусные баллы только после того, как все операции с добавлением, удалением товаров в корзине завершены.</div>

            <div id="uds-user-profile-box" class="div__uds_user_profile">
                <div class="uds--user-profile">
                    <p class="uds-user-data-text">Данные клиента:</p>
                    <p class="uds-user-name uds__user_name">
                        Имя пользователя
                    </p>

                    <div class="uds-spisati-ballov">
                        <p class="uds-user-points">
                            Доступные баллы UDS: <b><span class="uds-points-value">100</span><span class="uds-used-points"> ( <span class="uds-used-points-number">000</span> были добавлены в заказ )</span></b>
                        </p>

                        <div class="uds-substract-input">
                            <input class="form-control input__uds_substract_points" type="number" min="1" max="100"
                                   placeholder="Количество баллов, которые вы хотите списать" name="uds-substract-amount">

                            <button type="button" id="uds-substract-points-button" class="btn btn-uds btn-sm btn__uds_substract_points">
                                Применить
                            </button>

                            {*                            <div id="uds-cancel-points-button" title="Отменить применение баллов.">*}
                            {*                                <p>&times;</p>*}
                            {*                            </div>*}
                            <button type="button" class="btn btn-danger btn-sm btn__uds_substract_cancel" title="Отменить применение баллов.">
                                Отменить
                            </button>

                            <img src="/wa-apps/shop/plugins/uds/img/ajax-loader.gif" class="js-uds-loader-points">
                        </div>

                    </div>
                    <div class="uds-discount">
                        <p class="uds-user-discount">
                            Скидка:
                            <span class="uds-discount-value">$uds_old_user_info['user_discount']</span>%
                        </p>
                    </div>
                </div>
                <div class="uds--user-cashback">
                    <p class="uds-cashback-message">$cashback_message</p>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    // var app = {
    // };

    var session = {json_encode($session)};
    if (session == null) {
        session = {};
    }

    // console.log(app);
    console.log(session);

    const elems = {
        loader_check: $(".js-uds-loader-check"),
        loader_points: $(".js-uds-loader-points"),
        error_box: $(".uds-check-error"),
        uds_user_box: $(".div__uds_user_profile"),
        spisati_box: $(".uds-spisati-ballov"),
    };

    $(function () {
        // Инициализация формы
        $('.input__uds_check_code').mask("999 999");
        $('.input__uds_check_phone').mask("+7 (999) 999-99-99");
        $('.btn__uds_check_cancel').hide();
        $('.btn__uds_substract_cancel').hide();
        $('.uds-points-used').hide();
        $('.js-uds-loader-check').hide();
        $('.js-uds-loader-points').hide();

        elems.error_box.hide();
        elems.uds_user_box.hide();
        elems.loader_check.hide();
        elems.loader_points.hide();
        elems.spisati_box.hide();

        // if (session.hasOwnProperty('user')) {
        //     alert('да');
        // } else {
        //     alert('нет');
        // }
        // if ('user' in session) {
        //     alert('да');
        // } else {
        //     alert('нет');
        // }


        if (session.total_discount) {
            $('.uds-points-used').show();
            $('.uds-points-used').html('Вы получили скидку от UDS в размере <strong>' + session.total_discount + ' ₽</strong> (она была добавлена к вашей общей сумме скидки).');
        }

        if (session.user) {
            $('.text__no_uds').hide();
            $('.input__uds_check_code').attr('disabled', true);
            $('.input__uds_check_phone').attr('disabled', true);
            $('.select__uds_identifier_type').attr('disabled', true);
            $('.btn__uds_check_code').attr('disabled', true);
            $('.btn__uds_check_phone').attr('disabled', true);
            $('.btn__uds_check_code').hide();
            $('.btn__uds_check_phone').hide();
            $('.input__uds_check_code').hide();
            $('.input__uds_check_phone').hide();
            $('.uds-substract-input').hide();
            $('.btn__uds_check_cancel').show();

            if (session.identifier.type == 'phone') {
                $('.input__uds_check_code').hide();
                $('.input__uds_check_phone').show();

                $('.select__uds_identifier_type option[value="' + session.identifier.type + '"]').prop('selected', true);
                // $('#select option[value=2]').prop('selected', true);
                $('.input__uds_check_phone').val(session.identifier.value.replace(/%2b/g, "+"));
            } else {
                $('.input__uds_check_code').show();
                $('.input__uds_check_phone').hide();
                $('.input__uds_check_code').val(session.user.identifier);

                $('.uds-substract-input').show();

                elems.spisati_box.show();
            }

            elems.uds_user_box.find('.uds__user_name').html(session.user.name);


            if (session.points) {
                elems.uds_user_box.find('.uds-points-value').html((session.user.max_points - session.points));
                elems.uds_user_box.find('.uds-used-points').show();
                elems.uds_user_box.find('.uds-used-points-number').html(session.points);
                $('.input__uds_substract_points').val(session.points);
                $('.input__uds_substract_points').attr('disabled', true);
                $('.btn__uds_substract_points').attr('disabled', true);
                $('.btn__uds_substract_points').hide();
                $('.btn__uds_substract_cancel').show();

            } else {
                elems.uds_user_box.find('.uds-points-value').html((session.user.max_points));
                elems.uds_user_box.find('.uds-used-points').hide();
                $('.btn__uds_substract_cancel').hide();
                // $('.btn__uds_substract_points').show();
                // $('.input__uds_substract_points').attr('disabled', false);
                // $('.input__uds_substract_points').val('');
            }

            elems.uds_user_box.show();

        } else {
            $('.select__uds_identifier_type').change();
        }

        if (session.cashback_message) {
            $('.uds-cashback-message').html(session.cashback_message);
            $('.uds--user-cashback').show();
        } else {
            $('.uds--user-cashback').hide();
        }

        if (session.discount && session.discount > 0) {
            $('.uds-user-discount').addClass('active');
            $('.uds-discount-value').html(session.user.discount_rate);
        } else {
            $('.uds-discount').hide();
        }


    });


    // Выбор типа идентификатора для UDS
    $('#uds-check-code .select__uds_identifier_type').on('change', function () {
        if (this.value == 'code') {
            $(".form__uds_check_phone").hide();
            $(".form__uds_check_code").show();
        } else if (this.value == 'phone') {
            $(".form__uds_check_code").hide();
            $(".form__uds_check_phone").show();
        }
    });

    // function error_to_string(errors);

    // Нажатие кнопки для проверки КОДА
    $('.btn__uds_check_code').on('click', function (event) {
        event.preventDefault();

        elems.error_box.hide();
        elems.uds_user_box.hide();
        elems.spisati_box.hide();
        elems.loader_check.show();
        elems.loader_points.hide();


        // let type = $('#uds-check-code select[name="uds-type"]').find(":selected").val();
        let code = $('.input__uds_check_code').val();
        code = code.replace(/[^0-9]/gi, '');

        if (!code) {
            elems.error_box.show();
            elems.error_box.html('Код UDS не может быть пустым.');
            elems.loader_check.hide();
            return false;
        }

        $.get(
            "/uds/check-code/",
            {
                code: code,
            },
        ).done(function (data) {
            elems.error_box.hide();
            console.log(data.data)
            if (data.status == 'fail') {
                // alert('error');
                console.log('error');
                elems.uds_user_box.hide();
                elems.error_box.html(data.errors);
                elems.error_box.show();
                elems.loader_check.hide();
            } else if (data.status == 'ok') {
                // alert('success');
                // console.log('success');
                // console.log(data)
                location.reload();
            }
        });
    });

    // Нажатие кнопки для проверки ТЕЛЕФОНА
    $('.btn__uds_check_phone').on('click', function (event) {
        // let loader = $(".js-uds-loader");
        // let error_box = $(".uds-check-error");
        // let uds_user_box = $("#uds-user-profile-box");
        // let spisati_box = $(".uds-spisati-ballov");
        //
        event.preventDefault();

        elems.error_box.hide();
        elems.uds_user_box.hide();
        elems.loader_check.show();
        elems.loader_points.hide();
        elems.spisati_box.hide();

        let phone = $('.input__uds_check_phone').val();

        if (!phone) {
            elems.error_box.show();
            elems.error_box.html('Телефон не может быть пустым.');
            elems.loader_check.hide();
            return false;
        }

        phone = '+' + phone.replace(/[^0-9]/gi, '');
        // alert(phone);

        $.get(
            "/uds/check-phone/",
            {
                phone: phone,
            },
        ).done(function (data) {
            elems.error_box.hide();
            console.log(data.data)
            if (data.status == 'fail') {
                // alert('error');
                console.log('error');
                elems.uds_user_box.hide();
                elems.error_box.html(data.errors);
                elems.error_box.show();
                elems.loader_check.hide();
            } else if (data.status == 'ok') {
                // alert('success');
                // console.log('success');
                // console.log(data)
                location.reload();
            }
        });
    });

    $(".input__uds_check_code").on("keypress", function (event) {
        if (event.keyCode == 13) {
            event.preventDefault();
            $(".btn__uds_check_code").click();
        }
    });

    $(".input__uds_check_phone").on("keypress", function (event) {
        if (event.keyCode == 13) {
            event.preventDefault();
            $(".btn__uds_check_phone").click();
        }
    });

    $(".input__uds_substract_points").on("keypress", function (event) {
        if (event.keyCode == 13) {
            event.preventDefault();
            $(".btn__uds_substract_points").click();
        }
    });

    // Нажатие Enter в форме ввода КОДА
    // $(".input__uds_check_code").keyup(function (event) {
    //     if (event.keyCode === 13) {
    //         $(".btn__uds_check_code").click();
    //     }
    // });


    // Нажатие Enter в форме ввода ТЕЛЕФОНА
    // $(".input__uds_check_phone").keyup(function (event) {
    //     if (event.keyCode === 13) {
    //         $(".btn__uds_check_phone").click();
    //     }
    // });

    // Нажатие Enter в форме ввода Суммы баллов
    // $(".input__uds_substract_points").keyup(function (event) {
    //     if (event.keyCode === 13) {
    //         $(".btn__uds_substract_points").click();
    //     }
    // });

    $('.btn__uds_check_cancel').on('click', function () {
        $.get("/uds/check-cancel/", {
            //
        }).done(function (data) {
            location.reload();
        });
    });

    $('.btn__uds_substract_points').on('click', function () {
        let points = $('.input__uds_substract_points').val();
        let type = session.identifier.type;
        let code = session.identifier.value;
        elems.error_box.hide();
        elems.loader_points.show();
        $.get("/uds/substract-code/",
            {
                code: code,
                points: points,
            }
        ).done(function (data) {
            console.log(data);
            if (data.status == 'ok') {
                console.log('success');
                location.reload();
            } else if (data.status == 'fail') {
                console.log('error');
                elems.error_box.show();
                elems.error_box.html(data.errors);
                elems.loader_points.hide();
            }
        });
    });

    $('.btn__uds_substract_cancel').on('click', function (event) {

        $.get("/uds/substract-cancel/")
            .done(function (data) {
                location.reload();
            });

    });
</script>